<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>网站主列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/autocomplete/jquery-ui.min.css">
    <script src="../../../layuiadmin/autocomplete/jquery.min.js"></script>
    <script src="../../../layuiadmin/autocomplete/jquery-ui.min.js"></script>
</head>
<body>
<style>
    /* 这段样式只是用于演示 */
    #LAY-component-nav .layui-nav-tree {
        vertical-align: top;
    }
</style>

<div class="layui-fluid" id="LAY-component-nav">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">网站主列表</div>
                <div class="layui-card-body">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                        <div class="layui-form-item demoTable">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="padding:9px 0px;">网站主ID</label>
                                <div class="layui-input-block">
                                    <input type="text" name="id"  id="idsline" placeholder="请输入" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">网站主名称</label>
                                <div class="layui-input-block" style="margin-left:100px;">
                                    <input type="text" name="domain_n" id="roadline" placeholder="请输入"
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-block">
                                    <select name="status" class="status" lay-search="">
                                        <option value="-1">全部</option>
                                        <option value="0">待审核</option>
                                        <option value="1">邮件激活</option>
                                        <option value="2">活动</option>
                                        <option value="3">拒绝</option>
                                        <option value="4">锁定</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">用户分组</label>
                                <div class="layui-input-block layui-form" style="margin-left:100px"
                                     lay-filter="set_groups">
                                    <select name="groups" id="groups" class="groups" lay-search="groups">
                                        <option value="0">请选择用户分组</option>
                                    </select>
                                </div>
                            </div>

                            <button class="layui-btn searchInput" data-type="reload">搜索</button>
                            <!--<div class="layui-btn" data-type="reload">搜索</div>-->
                        </div>
                    </div>
                    <table class="layui-hide" id="test-table-reload" lay-filter="user"></table>
                    <script type="text/html" id="status">
                        {{#  if(d.user_status == 0){ }}
                        <span class="layui-badge layui-bg-gray">待审核</span>
                        {{#  } else if(d.user_status == 1 ){ }}
                        <span class="layui-badge layui-bg-orange">邮件激活</span>
                        {{#  } else if(d.user_status ==2){ }}
                        <span class="layui-badge layui-bg-green">活动</span>
                        {{#  } else if(d.user_status == 3){ }}
                        <span class="layui-badge layui-bg-blue">拒绝</span>
                        {{#  } else if(d.user_status == 4){ }}
                        <span class="layui-badge layui-badge">锁定</span>
                        {{# } }}
                    </script>
                    <script type="text/html" id="usernameTpl">
                        <a lay-href="component/nav/nav_wes.html?table-demo-id={{d.id}}" class="layui-table-link"
                           target="_blank"><span style="display: none;">{{ d.name}}站点(数量:</span>{{ d.site_nums}}<span style="display: none;">)</span></a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../url.js"></script>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'result'], function () {
        var table = layui.table
            , result = layui.result,
            admin = layui.admin;

//        alert(layui.data('layuiAdmin').accessToken)
        //方法级渲染
        table.render({
            elem: '#test-table-reload'
            , url: domainurl + '/api/v1/user'
            ,where:{
                accessToken:layui.data('layuiAdmin').accessToken
            }
            , cols: [[
                {field: 'id', title: '网站主ID', sort: true, fixed: true}
                , {field: 'name', title: '网站主名称'}
                , {field: 'qq', title: 'QQ'}
                , {field: 'groupname', title: '用户分组'}
                , {field: 'site_nums', templet: '#usernameTpl', title: '站点个数'}
                , {field: 'kefu_name', title: '客服'}
                , {field: 'user_status', templet: '#status', title: '状态'}
            ]]
            , id: 'testReload'
            , limit: 10
            , page: true
        });

        // 查询完成进行数据重载
        var $ = layui.$, active = {
            reload: function () {
                var idsline = $('#idsline');
                var name = $('#roadline');
                var user_status = $('.status');
                var group_id = $('.groups');
               //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                            id: idsline.val(),
                            name: name.val(),
                            user_status: user_status.val(),
                            group_id: group_id.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('.test-table-reload-btn .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

//        用户分组
        admin.req({
            type: 'GET',
            dataType: "json",
            url: domainurl + '/api/v1/group',
            done: function (res) {
                for (var i = 0; i < res.data.length; i++) {
                    result.setSelect(res, 'groups', res.data, 'groupid', 'groupname', '请选择用户分组');
                }
            }
        })

//        实现搜索补全
        $(function () {
            admin.req({
                type: 'GET',
                dataType: "json",
                url: domainurl + '/api/v1/user',
                done: function (res) {
                    var idsArr = [];
                    var domainArr = [];
                    for (var i = 0; i < res.data.length; i++) {
                        idsArr.push(res.data[i].id.toString());
                        domainArr.push(res.data[i].name)
                    }
                    $("#idsline").autocomplete({
                        source:
                            function (request, response) {
                                var results = $.ui.autocomplete.filter(idsArr, request.term);
                                response(results.slice(0, 10));//只显示自动提示的前十条数据
                            },
                        messages: {
                            noResults: '',
                            results: function () {
                            }
                        },
                    });
                    $("#roadline").autocomplete({
                        source:
                            function (request, response) {
                                var results = $.ui.autocomplete.filter(domainArr, request.term);
                                response(results.slice(0, 10));//只显示自动提示的前十条数据
                            },
                        messages: {
                            noResults: '',
                            results: function () {
                            }
                        },
                    });
                }
            })
        });

//        网站主id做校验
        function IsInteger(Str) {
            Str = "" + Str;
            RegularExp = /^[1-9][0-9]*$/;
            if (RegularExp.test(Str)) {
                return true;
            }
            else {
                return false;
            }
        }
        function checkPassenger(){
            var passengerValid = true;
            obj= document.getElementById("idsline");
            if(obj.value!=""){
                if(!IsInteger(obj.value)){
                    layer.msg("请输入正确ID");
                    obj.focus();
                    passengerValid = false;
                    return false;
                }
            }
        }
        $('.searchInput').click(checkPassenger)


        });
</script>
</body>
</html>
