<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 分类管理 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">

</head>
<body>
<style>
    .layui-form-label {
        width: 60px;
    }
    .layui-form-select dl {
        max-height: 230px;
    }

</style>

<div class="layui-form" lay-filter="layuiadmin-form-tags" id="layuiadmin-app-form-tags"
     style="padding-top: 30px; text-align: center;">
    <div style="width:100%;" class="line-item-break" >
        <div class="layui-form-item">
            <label class="layui-form-label">站长ID</label>
            <div class="layui-input-block" >
                <input type="text" style="width:inherit" name="userid"
                       lay-verify="required"
                       autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">域名</label>
            <div class="layui-input-inline layui-form" lay-filter="set_domain_name">
                <select name="domain_name" id="domain_name"
                        lay-filter="domain_name" lay-verify="required">
                    <option value="0">请选择域名</option>
                </select>
            </div>
        </div>
    </div>
    <div style="width:100%;" class="line-item-break">
        <div class="layui-form-item">
            <label class="layui-form-label">功能</label>
            <div class="layui-input-inline">
                <input type="text" name="js_name" lay-verify="required" placeholder="请输入..." autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline layui-form" lay-filter="set_js_alias_id">
                <select name="js_alias_id" id="js_alias_id"
                        lay-filter="js_alias_id" lay-verify="required">
                    <option value="0">请选择编号</option>
                </select>
            </div>
        </div>
    </div>
    <div style="width:100%;" class="line-item-break">
        <div class="layui-form-item">
            <label class="layui-form-label">JS代码</label>
            <div class="layui-input-inline">
            <textarea name="content" lay-verify="required" style="width: 400px; height: 150px;" autocomplete="off"
                      class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>
<script src="../../../url.js"></script>
<script src="../../../layuiadmin/layui/function.js"></script>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload', 'result'], function () {
        var $ = layui.$
            , form = layui.form
            , upload = layui.upload
            , admin = layui.admin
            , result = layui.result;


        var hrefs = window.location.href;
        var siteid = hrefs.split('=')[1];

        var zzid, dourl;
        $("input[name='userid']").blur(function () {
            zzid = $(this).val();
            console.log(zzid)
            //用站长ID请求域名数据
            if (zzid !== "") {
                admin.req({
                    type: 'GET',
                    dataType: "json",//预期服务器返回的数据类型
                    url: domainurl + '/api/v1/user/' + zzid + '/sites',//url
                    done: function (res) {
                        console.log(res);
                        result.setSelect(res, 'domain_name', res.data, 'id', 'domain_name', '请选择域名');
                    }
                })
            } else {
            }
        });
        form.on('select(domain_name)', function (data) {
            dourl = data.value;
            admin.req({
                type: 'GET',
                dataType: "json",
                url: domainurl + '/api/v1/jsids',//url
                data: {
                    siteid: dourl
                },
                done: function (res) {
                    console.log(res);
                    result.setSelect(res, 'js_alias_id', res.data, 'id', 'alias', '请选择编号');
                }
            })
        })

    })
</script>
</body>
</html>